﻿@model List<stelleracunakademiportfolio.Models.tbl_skill>


<section class="section">
    <div class="container text-center">
        <h6 class="subtitle">Hakim Olduğum Teknolojiler</h6>
        @foreach (var item in Model)
        {
            <h6 class="section-title mb-4">@item.title</h6>
            <p class="mb-5 pb-4">@item.description</p>

        }

        <div class="row text-left">

            @foreach (var item in Model)
            {


                <div class="col-sm-6">
                    <h6 class="mb-3">@item.skillname</h6>
                    <div class="progress">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: @item.value%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>@item.value%</span></div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
