@model List<stelleracunakademiportfolio.Models.tbl_testimanional>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    int count = 0;
}

<h2>Referanslar</h2>


<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Açıklama</th>
        <th>İsim Soyisim</th>
        <th>Resim</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.NameSurname</td>
            <td><img src="@item.image" style="height:50px;width:50px" />   </td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimanionalID" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimanionalID" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }
</table>

<br />

<a href="/Testimonial/AddTestimonial" class="btn btn-outline-primary">Referans Ekle</a>
